@using MunicipalityDebtsSystem.Core.Models.Draw
@model AddPlannedDrawViewModel;


<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/lib/data-tables/datatables.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Ново планирано плащане";
    var today = DateTime.Now.ToString("dd.MM.yyyy");//"dd-MM-yyyy" //"dd/MM/yyyy"
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/data-tables/datatables.min.js"></script>

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />
<div class="row card-body">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form id="plannedDraws" asp-action="AddPlanned" asp-controller ="Draw" method="post" enctype="multipart/form-data">
           <input type="hidden" asp-for="@Model.DebtId" />
            <input type="hidden" asp-for="@Model.OperationTypeId" />
            <input type="hidden" asp-for="@Model.MunicipalityName" />
            <input type="hidden" asp-for="@Model.MunicipalityCode" />
           
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <p class="card-text">Община: @Model.MunicipalityName</p>
                </div>
                <div class="col-sm-6 mb-2">
                    <p class="card-text">Код: @Model.MunicipalityCode</p>
                </div>
                
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DrawDate" class="form-label-add-edit">Дата на планирано усвояване:</label>
                    <input asp-for="@Model.DrawDate" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.DrawDate) ? today : Model.DrawDate)" /> @* value="@(string.IsNullOrEmpty(Model.DateBook) ? today : Model.DateBook)" *@
                    <span asp-validation-for="@Model.DrawDate" class="text-danger"></span>
                </div>
               

                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DrawAmount" class="form-label-add-edit">Размер на пл. усвояване в ориг. валута:</label>
                    <div class="input-group">
                        @*  <span class="input-group-text"></span> *@
                        <input asp-for="DrawAmount" class="form-control" type="number" step="0.01" min="0" /> @* step="0.01" min="0" *@
                    </div>
                    <span asp-validation-for="@Model.DrawAmount" class="text-danger"></span>
                </div>
               


                <div class="mb-2">
                    <input class="btn btn-primary btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Запис" />
                    
                </div>
                <div class="mb-2">
                    <input class="btn btn-primary btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Изчисти" />
                </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table id="drawTable" class="table table-hover table-striped"></table>
    </div>
</div>
<!-- DataTables JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/data-tables/datatables.min.js"></script>
 <script>
     $.fn.dataTable.ext.buttons.io_colvis = {
        extend: 'colvis',
        text: '<i class="eye outline icon"></i>',
        titleAttr: 'Видими Колони',
        className: 'ui basic button'
    };
    $.fn.dataTable.ext.buttons.io_pageLength = {
        extend: 'pageLength',
        className: 'ui basic button'
    };

        $(function () {
            $('#drawTable').DataTable({
                dom: '<"row"<"col-sm-6 dataTables_buttons"B><"col-sm-6"f>>rtip',
                serverSide:false,
                ajax: {
                    "url": "@Url.Action("GetPlannedDrawsForDataTable", "Draw")",
                    "type": "GET",
                    "datatype": "json"
                    // data: function (d) {

                    //      // d.debtId = id;

                    // }

                },
               
                language: {
                    url: "/lib/data-tables/dataTables.bgBG.json",
                    search: "", // Change the default placeholder
                    searchPlaceholder: "Търсене" // Custom placeholder text
                },
                columns: [
                   

                    {
                        name: 'drawDate',
                        data: 'drawDate',
                        title: 'Дата на планирано усвояване',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'drawAmount',
                        data: 'drawAmount',
                        title: 'Размер на планирано плащане в оригинална валута',
                        sortable: true,
                        searchable: true
                    },
                    // {
                    //     // className: 'col-md-1',
                    //     name: 'dateBook',
                    //     data: 'dateBook',
                    //     title: 'Начална дата на дълг',
                    //     sortable: true,
                    //     searchable: false,
                        
                    // },
                    // {
                    //     // className: 'col-md-1',
                    //     name: 'dateContractFinish',
                    //     data: 'dateContractFinish',
                    //     title: 'Крайна дата на дълг',
                    //     sortable: true,
                    //     searchable: false,
                        
                    // },
                    //  {
                    //     name: 'municipalityCode',
                    //     data: 'municipalityCode',
                    //     title: 'Община',
                    //     sortable: true,
                    //     searchable: true
                    // },
                    // {
                    //     name: 'municipalityName',
                    //     data: 'municipalityName',
                    //     title: 'Община',
                    //     sortable: true,
                    //     searchable: true
                    // },
                    // {
                    //     name: 'debtAmountOriginalCcy',
                    //     data: 'debtAmountOriginalCcy',
                    //     title: 'Размер на дълга в оригинална валута',
                    //     sortable: true,
                    //     searchable: true
                    // },
                    // {
                    //     name: 'currencyName',
                    //     data: 'currencyName',
                    //     title: 'Валута',
                    //     sortable: true,
                    //     searchable: true
                    // },
                    //  {
                    //     name: 'statusName',
                    //     data: 'statusName',
                    //     title: 'Статус',
                    //     sortable: true,
                    //     searchable: true
                    // },

                    // {
                    //      name: 'actions',
                    //      data: 'id',
                    //      title: '',
                    //      sortable: false,
                    //      searchable: false,
                    //      className: "text-right",
                    //      render: function (data, type, row, meta) {
                    //          return '<a href="Debt/Details/' + row.id + '" class="btn btn-primary" title="Преглед"><i class="fa fa-info-circle"></i></a>';
                    //      }
                    // },
                    // {
                    //      name: 'actions',
                    //      data: 'id',
                    //      title: '',
                    //      sortable: false,
                    //      searchable: false,
                    //      className: "text-right",
                    //      render: function (data, type, row, meta) {
                    //          return '<a href="Debt/Edit/' + row.id + '" class="btn btn-warning" title="Редакция"><i class="fa fa-info-circle"></i></a>';
                    //      }
                    // },

                ]
            });
        });
    </script>