@model AddDebtViewModel;

@{
    ViewData["Title"] = "Нов дълг";
    var today = DateTime.Now.ToString("dd.MM.yyyy");//"dd-MM-yyyy" //"dd/MM/yyyy"
}

<div class="d-flex justify-content-between align-items-center mb-3 smart-title " style="margin-top: 20px;">
<h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row " >
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.MunicipalityId" />
           @*  <input type="hidden" asp-for="@Model.UserCreated" /> *@
            <input type="hidden" asp-for="@Model.DateCreated" />
            <div class="row card-body">
                <div class="col-sm-6 mb-2">
                    <p class="card-text">Община: @Model.MunicipalityName</p>
                </div>
                <div class="col-sm-6 mb-2">
                    <p class="card-text">Код: @Model.MunicipalityCode</p>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DebtNumber" class="form-label-add-edit">Номер на договор/анекс:</label>
                    <input asp-for="@Model.DebtNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.DebtNumber" class="text-danger"></span>
                </div>
                 <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.ResolutionNumber" class="form-label-add-edit">Решение за поемане на дълг:</label>
                    <input asp-for="@Model.ResolutionNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.ResolutionNumber" class="text-danger"></span>
                </div>
                 <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DateBook" class="form-label-add-edit">Дата на договаряне:</label>
                    <input asp-for="@Model.DateBook" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.DateBook) ? today : Model.DateBook)" /> @* value="@(string.IsNullOrEmpty(Model.DateBook) ? today : Model.DateBook)" *@
                    <span asp-validation-for="@Model.DateBook" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DateContractFinish" class="form-label-add-edit">Крайна дата на дълга:</label>
                    <input asp-for="@Model.DateContractFinish" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.DateContractFinish) ? today : Model.DateContractFinish)" />
                    <span asp-validation-for="@Model.DateContractFinish" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DateRealFinish" class="form-label-add-edit">Реална дата на погасяване:</label>
                    <input asp-for="@Model.DateRealFinish" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.DateRealFinish) ? today : Model.DateRealFinish)" />
                    <span asp-validation-for="@Model.DateRealFinish" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.CurrencyId" class="form-label-add-edit">Валута на дълга:</label>
                    <select asp-for="@Model.CurrencyId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Currencies, "Id", "Name"))">
                        <option value="0">-- Изберете </option>
                    </select>
                    <span asp-validation-for="@Model.CurrencyId" class="text-danger"></span>
                </div>

                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DebtAmountOriginalCcy" class="form-label-add-edit">Размер на дълга в оригинална валута:</label>
                    <div class="input-group">
                       @*  <span class="input-group-text"></span> *@
                        <input asp-for="DebtAmountOriginalCcy" class="form-control"  type="number" step="0.01" min="0" /> @* step="0.01" min="0" *@
                    </div>
                    <span asp-validation-for="@Model.DebtAmountOriginalCcy" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DebtAmountLocalCcy" class="form-label-add-edit">Размер на дълга в местна валута:</label>
                    <div class="input-group">
                        <span class="input-group-text">BGN</span>
                        <input asp-for="DebtAmountLocalCcy" class="form-control"  type="number" step="0.01" min="0"/> @* step="0.01" min="0" *@
                    </div>
                    <span asp-validation-for="@Model.DebtAmountLocalCcy" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.CreditTypeId" class="form-label-add-edit">Предназначение:</label>
                    <select asp-for="@Model.CreditTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.CreditTypes, "Id", "Name"))">
                        <option value="0">-- Изберете</option>
                    </select>
                    <span asp-validation-for="@Model.CreditTypeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.CreditorTypeId" class="form-label-add-edit">Тип на кредитора:</label>
                    <select asp-for="@Model.CreditorTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.CreditorTypes, "Id", "Name"))">
                        <option value="0">-- Изберете</option>
                    </select>
                    <span asp-validation-for="@Model.CreditorTypeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DebtTermTypeId" class="form-label-add-edit">Вид на дълга:</label>
                    <select asp-for="@Model.DebtTermTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.DebtTermTypes, "Id", "Name"))">
                        <option value="0">-- Изберете</option>
                    </select>
                    <span asp-validation-for="@Model.DebtTermTypeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.DebtPurposeTypeId" class="form-label-add-edit">Цел на поемането на дълга:</label>
                    <select asp-for="@Model.DebtPurposeTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.DebtPurposeTypes, "Id", "Name"))">
                        <option value="0">-- Изберете</option>
                    </select>
                    <span asp-validation-for="@Model.DebtPurposeTypeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.InterestTypeId" class="form-label-add-edit">Описание на лихвения процент:</label>
                    <select asp-for="@Model.InterestTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.InterestTypes, "Id", "Name"))">
                        <option value="0">-- Изберете</option>
                    </select>
                    <span asp-validation-for="@Model.InterestTypeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.InterestRate" class="form-label-add-edit">Лихвен процент:</label>
                    <div class="input-group">
                        <span class="input-group-text"></span>
                        <input asp-for="InterestRate" class="form-control" aria-required="true" type="number" step="0.01" min="0" /> @* step="0.01" min="0" *@
                    </div>
                    <span asp-validation-for="@Model.InterestRate" class="text-danger"></span>
                </div>
         

            <div class="mb-2">
                <input class="btn btn-primary btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Запиши" />
            </div>
        </form>
    </div>
</div>


<style>
    .smart-title {
        font-family: 'Segoe UI', sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        color: #4A90E2; /* Soft Blue */
        background: linear-gradient(135deg, #4A90E2, #5C6BC0); /* Soft Blue Gradient */
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
        letter-spacing: 1px;
        display: inline-block;
        padding-bottom: 5px;
        transition: all 0.3s ease-in-out;
    }

        .smart-title:hover {
            color: #fff;
            transform: scale(1.05);
        }

    .card-body {
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

   

</style>



