@model DeleteDebtViewModel
@{
    ViewData["Title"] = "Изтриване на дълг";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">@Model.MunicipalityName: @Model.MunicipalityCode</h4>
               @*  <h5 class="card-title text-center">@Model.DebtNumber</h5> *@
                <p class="mb-0"><strong>Номер на договор/анекс:</strong> @Model.DebtNumber</p>
                <p class="mb-0"><strong>Дата на договаряне:</strong>@Model.DateBook</p>
                <p class="mb-0"><strong>Крайна дата на дълга:</strong>@Model.DateContractFinish</p>
                <p class="mb-0"><strong>Размер на дълга в оригинална валута:</strong>@Model.DebtAmountOriginalCcy</p>
                <p class="mb-0"><strong>Валута на дълга:</strong>@Model.CurrencyName</p>
                <p class="mb-0"><strong>Размер на дълга в местна валута</strong>@Model.DebtAmountLocalCcy</p>
                <p class="text-danger mt-3">Сигурни ли сте, че искате да изтриетe дълг с номер: @(Model.DebtNumber)?</p>
            </div>
            <div class="card-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />
                    @* <input type="hidden" asp-for="ProductName" />
                    <input type="hidden" asp-for="SellerId" /> *@
                    <button type="submit" class="btn btn-danger">Потвърди изтриването</button>
                    <a asp-controller="Debt" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning">Отказ</a>
                </form>
            </div>
        </div>
    </div>
</div>
