@model DetailDebtViewModel


@{
    ViewData["Title"] = "Преглед на дълг";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center" style="margin: 0 auto; max-width: 800px;">
   

    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Община: @Model.MunicipalityName: @Model.MunicipalityCode</h5>
            <hr />
            <p class="card-text"> Номер на дълг: @Model.DebtNumber</p>
            <p class="card-text"> Решение за поемане на дълг: @Model.ResolutionNumber</p>
            <p class="card-text"> Дата на поемане на дълга: @Model.DateBook</p>
            <p class="card-text"> Размер на кредита в оригинална валута: @Model.DebtAmountOriginalCcy</p>
            <p class="card-text"> Валута: @Model.DebtAmountOriginalCcy</p>
            <p class="card-text"> Размер на дълга в лева: @Model.DebtAmountLocalCcy</p>
            <p class="card-text"> Дата на приключване на кредита: @Model.DateContractFinish</p>
            <p class="card-text"> Дата на реално приключване на кредита: @Model.DateRealFinish</p>
            <p class="card-text"> Тип на кредитора: @Model.CreditorTypeName</p>
            <p class="card-text"> Предназначение: @Model.CreditTypeName</p>
            <p class="card-text"> Цел на поемането на дълга: @Model.DebtPurposeTypeName</p>
            <p class="card-text"> Вид на дълга: @Model.DebtTermTypeName</p>
            <p class="card-text"> Описание на лихвения процент: @Model.InterestTypeName</p>
            <p class="card-text"> Лихвен процент: @Model.InterestRate</p>
            
            
            <hr />            
        </div>
       
    </div>
</div>
